* {
    border: 0;
    margin: 0;
    box-sizing: 0;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        "container"
        "footer";
    grid-template-rows: 50px 1fr 50px;
}

.header {
    grid-area: header;
    background-color: rgb(255, 140, 0);
    padding: 10px;
}

.container {
    height: calc(100vh - 100px);
    grid-area: container;
    display: flex;
}

.sidebar {
    background-color: bisque;
    overflow: auto;
    padding: 10px;
    width: 15%;
}

.list {
    padding: 10PX;
    list-style: none;
}

.contentbar {
    padding: 10px;
    width: 100%;
    overflow: auto;
}

.footer {
    grid-area: footer;
    background-color: rgb(255, 140, 0);
    padding: 10px;
    text-align: center;
}